.graph-element-container {
  flex: 1 1 auto;
}

.graph-element {
  margin: 0px;
  padding: 0px;
}

.graph-element-default-color {
  background-color: aquamarine;
}

.graph-element-being-compared {
  background-color: yellow;
}

.graph-element-being-swapped {
  background-color: red;
}